<%= render "shared/header" %>

<div calss='main'>

<%# アイテム一覧表示 %>
<% @items.each do |item| %>
  <li class='list'>
    <%= link_to item_path(item.id) do %>
      <div class='item-img-content'>
      <%= image_tag item.image, class: "item-img" %>
    </div>
    <div class='item-info'>
      <h3 class='item-name'>
        <%= item.name %>
      </h3>
      <div class='item-price'>
        <br><%= item.price %>円
      </div>
    </div>
    <% end %>
  </li>
<% end %>

</main>

<%= render "shared/footer" %>